body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgba(227, 223, 225, 0.48);
}

.tugas{
    color: black;
    text-align: center;
    margin: 10;
    text-transform: uppercase;
}

.judulpenugasan{
    color: red;
}

.penugasan{
    font-weight: bold;
    color: rgba(33, 5, 5, 0.81);
}

.grup{
    color: rgba(33, 5, 5, 0.81);
    text-decoration: none;
}
